<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="turbolinks-cache-control" content="no-cache">

    @RenderSection("Head", required: false)

    <title>@ViewData["Title"] - Template</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-vue/dist/bootstrap-vue.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    </environment>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/app.css" />

    <!-- Scripts are in the head to not be redownloaded because of Turbo Links -->
    <environment include="Development">
        <script src="~/js/dist.min.dev.js"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/dist.min.js"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <div id="app" class="app header-fixed sidebar-fixed">
        <header class="header">
            <div class="header-block header-block-collapse d-lg-none d-xl-none">
                <button class="collapse-btn" id="sidebar-collapse-btn" onclick="openSidebar()">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="header-block header-block-nav">
                <partial name="_LoginPartial" />
            </div>
        </header>
        <aside class="sidebar bg-dark">
            <div class="sidebar-header">
                <div class="brand ">

                    <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">
                        <partial name="_Logo" />
                    </a>
                </div>
            </div>
            <nav class="menu">
                <ul class="sidebar-menu metismenu" id="sidebar-menu">
                    <li class="nav-item active">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fa fa-home"></i> X-Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="VueTest"><i class="fa fa-home"></i> Vue Test</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <article class="content dashboard-page">
            <partial name="_CookieConsentPartial" />
            <section role="main" class="pb-3">
                @RenderBody()
            </section>
        </article>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2018 - Template - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>